
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table {
    .sorting {
        background-image: url('/images/sort_both.png');
        background-repeat: no-repeat;
        background-position: center right;
    }
    .sorting_asc {
        background-image: url('/images/sort_asc.png');
        background-repeat: no-repeat;
        background-position: center right;
    }
    .sorting_desc {
        background-image: url('/images/sort_desc.png');
        background-repeat: no-repeat;
        background-position: center right;
    }
}
